.tab-pane {
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  padding: 0.25em;
}

table {
  table-layout: fixed;
}

td {
  overflow-wrap: anywhere;
}

.table-col-sm {
  width: 200px;
}
